html, body, #app{
  height: 100%;
  margin: 0;
}


#app{
  /* Primeira coisa é colcoar um display felx ao redor dos elms que estiver por fora dos elms que queremos trabalhar  */
  
  display: flex; 
  /* Obs1.: A partir de agora ele vai alinhar os elms na horizontal*/

  flex-direction: row;
  /* "row" Direção dos itens filhos do app vão sempre seguir na mesma linha*/
  /* "column" Direção dos itens filhos do app vão sempre seguir na mesma coluna*/

  align-items: center;
  /* Caso "row" o align-items vai alinhar verticalmente */
  /* Caso "column" o align-items vai alinhar horizontalmente */
  
  justify-content: center;
  /* Caso "row" o justify-content vai alinhar horizontalmente */
  /* Caso "column" o align-items vai alinhar verticalmente */

  /* Tem algumas propriedades especiais: 
      * space-betwenn: espaço igual entre todos os itens 
      * space-arround: espaço igual entre todos os itens + espaço no começo e no fim 
    */

}

.box{
  width: 60px;
  height: 60px;
  background: #f00;
  margin: 5px;
}