html, body, #app{
  height: 100%;
  margin: 0;
}


#app{
  display: flex;

  /* Quebra de Linhas dentro do flexbox*/

  flex-wrap: wrap; /*Vai quebrar a linha */
  align-items: center; /* vertical (pois é row)*/
  justify-content: space-between; /*horizontal (pois é row)*/

  align-content: center;
  /*O align-content alinha os elms quando eles estão em mais de uma linha*/

}

.box{
  width: 200px;
  height: 60px;
  background: #f00;
  margin: 5px;
}